/* Login Form Container */
.login-container {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    background-color: #35a2d4;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Login Form Input Fields */
.login-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Login Form Submit Button */
.login-button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* Login Form Submit Button Hover Effect */
.login-button:hover {
    background-color: #45a049;
}
