/* Navigation Bar */
.navbar {
    background-color: #db2929;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navbar-brand {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar li {
    margin-right: 10px;
}

.navbar a {
    text-decoration: none;
    color: #333;
    padding: 10px;
}

.navbar a:hover {
    background-color: #8f3535;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}